<div class="left">
	<%= image_tag "pic1.jpg", :width => "76",  :class => "float" %>
	<%= @page1.content.html_safe %>
	<%= link_to 'Edit', edit_page_path(@page1) %>
</div>
<%= separator_tag %>
<div class="left">
	<%= image_tag "pic2.jpg", :width => "76",  :class => "float" %>
	<h1>Menu del giorno</h1>
	<%= @page2.content.html_safe %>
	<%= link_to 'Edit', edit_page_path(@page2) %></br></br>
	<ul>
	<% @important_foods.each do |food| %>
		<li><%= link_to food.name, food_path(food.id) %></li>
	<% end %>
	</ul>
</div>
