<h1>Menu</h1></br>
<% @foodTypes.each do |type| %>
	<%= link_to type.name, foods_path(:type => type.id), :class => food_type_selected_class(@type_id, type.id) %>&nbsp;&nbsp; 
<% end %><br/>
</br>
<div class="float">
	<div class="left">

		<% @foods.each do |food| %>
			<table>
				<tr><td><b><%= food.name %></b> <span class="price"><%= food.price %>€</span></td></tr>
		    	<tr><td><%= food.content %></td></tr>
		    	<tr><td><i><%= food.description %></i></td></tr>
		    </table>
		
			<% if current_user %>
		    <%= link_to "Show", food %>
		    <%= link_to "Edit", edit_food_path(food) %>
		    <%= link_to "Destroy", food, confirm: 'Are you sure?', method: :delete %>
		    </br>
		    <% end %></br>
		    
		<% end %>
<%= will_paginate @foods %>
<br/>
<br/>
	<% if current_user %>
	<%= link_to 'New', new_food_path %>
	<% end %>
	</div>
</div>
