<center>
<% @foodTypes.each do |type| %>
	<%= link_to type.name, foods_path(:type => type.id), :class => food_type_selected_class(@type_id, type.id) %>&nbsp;&nbsp; 
<% end %><br/>
</center>

<div id="left">
	<% if !@front_food.nil? %>
		<%= image_tag @front_food.photo.url(:thumb) %>
	<% end %>
</div>


<div id="right">
	<%= @page.content.html_safe %>
	<% if current_user %>
	<%= link_to 'Edit', edit_page_path(@page) %>
	<% end %>
	</br>
	
	<% @foods.each do |food| %>
		<b><%= link_to food.name, foods_path(:type => @type_id, :fg => food.id) %> </b>
		<% if !food.price.nil? %>
			<span class="price"><%= food.price %>€</span>
		<% end %>
		<% if current_user %>
		    <%= link_to "Edit", edit_food_path(food) %>
		    <%= link_to "Destroy", food, confirm: 'Are you sure?', method: :delete %>
	    <% end %>
		</br>
    	<%= food.content %></br>
	    
	<% end %>
	<% if current_user %>
		<%= link_to 'New', new_food_path %>
	<% end %>
</div>

<%= render 'gallery' %>
