<div class="float">
	<div class="left">
		<b><%= @food.name %></b> 
		<% if !@food.price.nil? %>
			<span class="price"><%= @food.price %> €</span></br>
		<% end %>
		<%= @food.content %></br>
		</br>
	<%= link_to 'Edit', edit_food_path(@food) %> |
	<%= link_to 'Back', foods_path %>
	</div>
</div>
<div class="right">
	<div class="item">
		<% if @food.photo_file_size? %>
			<%= image_tag @food.photo.url(:thumb) %>
		<% end %>
		<%= @food.description %>
	</div>
</div>

