
<footer>
  <nav>
    <ul>
      <li><%= image_tag "visa.gif" %></li>	
      <li><%= image_tag "bancomat.gif" %></li>	
      <li><%= image_tag "wifi.JPG", :width => 40 %></li>	
      <li><%= image_tag "parcheggio.gif", :width => 30 %></li>	
      <li><%= link_to "Contatti", contact_path  %></li>
	  <li><%= link_to "Dove Siamo", where_path  %></li>
      <li><%= link_to "Link Utili", links_path  %></li>
    </ul>
  </nav>
</footer>