<header>
  <%= link_to logo, root_path %>
  <nav>
    <ul>
      <li class="roundtop" style="background-color: #ffcc00"><%= link_to "Home", root_path %></li>
      <li class="roundtop" style="background-color: #ff9900"><%= link_to "Menu", foods_path %></li>
      <li class="roundtop" style="background-color: #3399ff"><%= link_to "Offerte", offerte_path %></li>
      <li class="roundtop" style="background-color: #663399"><%= link_to "Eventi", eventi_path %></li>
      <li class="roundtop" style="background-color: #669900"><%= link_to "Home", root_path %></li>
      <li class="roundtop" style="background-color: #cc3333"><%= link_to "Premi", premi_path %></li>
    </ul>
  </nav>
</header>


