<div id="header">
	<%= image_tag "logo2.JPG"%>
</div>
<div class="menu">
	<ul>
		<li><%= image_tag "lefttop2.gif", :width => 56, :height => 56 %></li>
		<li>
			<div class="image">
				<%= link_to root_path do %>
					<span>Home</span><%= image_tag 'button.gif', :width => 109, :height => 30 %>
				<% end %>
			</div>
		</li>
		<li>
			<div class="image">
				<%= link_to foods_path do %>
					<span>Menu</span><%= image_tag 'button.gif', :width => 109, :height => 30 %>
				<% end %>
			</div>
		</li>
		<li>
			<div class="image">
				<%= link_to offerte_path do %>
					<span>Offerte</span><%= image_tag 'button.gif', :width => 109, :height => 30 %>
				<% end %>
			</div>
		</li>
		<li>
			<div class="image">
				<%= link_to eventi_path do %>
					<span>Eventi</span><%= image_tag 'button.gif', :width => 109, :height => 30 %>
				<% end %>
			</div>
		</li>
		<li>
			<div class="image">
				<%= link_to pictures_path do %>
					<span>Foto</span><%= image_tag 'button.gif', :width => 109, :height => 30 %>
				<% end %>
			</div>
		</li>		
		
	</ul>
</div>