<div id="header">
	<%= image_tag "chisolino.gif"%>
</div>
<div class="menu">
	<ul>
		<li><%= image_tag "lefttop.gif", :width => 165, :height => 56 %></li>
		<li>
			<div class="image">
				<%= link_to root_path do %>
					<span>Home</span><%= image_tag 'but-src.gif', :width => 109, :height => 30 %>
				<% end %>
			</div>
		</li>
		<li>
			<div class="image">
				<%= link_to foods_path do %>
					<span>Menu</span><%= image_tag 'but-src.gif', :width => 109, :height => 30 %>
				<% end %>
			</div>
		</li>
		<li>
			<div class="image">
				<%= link_to root_path do %>
					<span>Eventi</span><%= image_tag 'but-src.gif', :width => 109, :height => 30 %>
				<% end %>
			</div>
		</li>
		<li>
			<div class="image">
				<%= link_to root_path do %>
					<span>Offerte</span><%= image_tag 'but-src.gif', :width => 109, :height => 30 %>
				<% end %>
			</div>
		</li>		
		
	</ul>
</div>