<header>
  <%= link_to logo, root_path %>
  <nav>
    <ul>
      <li class="roundtop" style="background-color: #ffcc00; padding-top: <%= @home_ht %>"><%= link_to "Home", root_path %></li>
      <li class="roundtop" style="background-color: #ff9900; padding-top: <%= @menu_ht %>"><%= link_to "Menu", foods_path %></li>
      <li class="roundtop" style="background-color: #3399ff; padding-top: <%= @offerte_ht %>"><%= link_to "Offerte", offerte_path %></li>
      <li class="roundtop" style="background-color: #663399; padding-top: <%= @eventi_ht %>"><%= link_to "Eventi", eventi_path %></li>
      <li class="roundtop" style="background-color: #669900; padding-top: <%= @servizi_ht %>"><%= link_to "Servizi", servizi_path %></li>
      <li class="roundtop" style="background-color: #cc3333; padding-top: <%= @premi_ht %>"><%= link_to "Premi", premi_path %></li>
    </ul>
  </nav>
</header>


