<div id="header">
	<%= image_tag "chisolino.gif"%>
	<div class="small">
		<a href="#"><%= image_tag "small1.gif", :width => 13, :height => 13 %></a>
		<a href="#"><%= image_tag "small2.gif", :width => 16, :height => 13 %></a>
		<a href="#"><%= image_tag "small3.gif", :width => 16, :height => 13 %></a>
	</div>
</div>
<div class="menu">
	<ul>
		<li><%= image_tag "lefttop.gif", :width => 165, :height => 56 %></li>
		<li><a href="#"><%= image_tag "but1.gif", :width => 109, :height => 30 %></a></li>
		<li><a href="#"><%= image_tag "but2.gif", :width => 109, :height => 30 %></a></li>
		<li><a href="#"><%= image_tag "but3.gif", :width => 109, :height => 30 %></a></li>
		<li><a href="#"><%= image_tag "but4.gif", :width => 108, :height => 30 %></a></li>
	</ul>
</div>