<!DOCTYPE html>
<html>
  <head>
    <title>La Bottega del Chisolino</title>
    <%= csrf_meta_tag %>
	<%= render 'layouts/stylesheets' %>
	<%= javascript_include_tag "application" %>	
  </head>
  <body>
    <div class="container">
		<%= render 'layouts/header' %>
  		<section class="round" style="border-color: <%= "#ffcc00" %>">
  		    <% flash.each do |key, value| %>
          		<div class="flash <%= key %>"><%= value %></div>
        	<% end %>
			<%= yield %>
  		</section>
  		<%= render 'layouts/footer' %>
  		<%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>